<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Tierras Magicas',
      }) %>
      
<body>

    <%- include('partials/header') %>
    
<main>
    <h1 class="title">Creacion de Personaje</h1>
    <div class="add-view">
        <form class="add-form" action="/character/add" method="POST" enctype="multipart/form-data">
            <div>
                <!-- nombre -->
            <div>
                <label for="name">Nombre:</label>
                <input class="nameCharacterAdd <%= locals.errors && (errors.name && 'is-invalid') %>" type="text" value="<%= locals.old && (old.name && old.name) %>" id="name" name="name" placeholder="Nombre">
                <span class="error-character" id="msgError-name"><%= locals.errors && (errors.name && errors.name.msg) %></span>
            </div>
            <!-- reino -->
            <div>
                <label for="realm">Reino:</label>
                <select aria-label="Default select example <%= locals.errors && (errors.realm && 'is-invalid') %>" name="realm" value="<%= locals.old && (old.realm && old.realm) %>" id="realm">
                    <option disabled selected>Seleccionar...</option>
                    <% realms.forEach(({ name, id }) => { %>
                        <option value="<%= id %>"><%= name %></option>
                    <% }) %>
                </select>
                <span class="error-character" id="msgError-realm"><%= locals.errors && (errors.realm && errors.realm.msg) %></span>
            </div>
            <!-- poder -->
            <div>
                <label for="power">Poder:</label>
                <input class="<%= locals.errors && (errors.power && 'is-invalid') %>" type="text" value="<%= locals.old && (old.power && old.power) %>" id="power" name="power" placeholder="Poder">
                <span class="error-character" id="msgError-power"><%= locals.errors && (errors.power && errors.power.msg) %></span>
            </div>
            <!-- elemento -->
             <div>
                 <label for="element">Elemento:</label>
                 <select aria-label="Default select example <%= locals.errors && (errors.element && 'is-invalid') %>" name="element" value="<%= locals.old && (old.element && old.element) %>" id="element">
                    <option disabled selected>Seleccionar...</option>
                    <% elements.forEach(({ name, id }) => { %>
                        <option class="<%= elementClasses[name] %>" value="<%= id %>" ><%= name %></option>
                    <% }) %>
                </select>
                <span class="error-character" id="msgError-element"><%= locals.errors && (errors.element && errors.element.msg) %></span>
            </div>
            <!-- descripcion -->
            <div>
                <label for="description">Descripcion:</label>
                <br>
                <textarea maxlength="150" name="description" id="description" cols="60" rows="5" placeholder="Descripcion del personaje"></textarea>
            </div>
            <!-- imagen -->
            <div>
                <label for="formFile">Imagen:</label>
                <input type="file" id="formFile" name="image">
            </div>
            <div>
                <label for="image">URL de la imagen:</label>
                <input type="text" id="image" name="image">
            </div>
            <h3>Asegurate de que tu imagen sea ".jpg" ".png" o ".gif"</h3>
            <div>
                <button type="submit">Crear Personaje</button>
            </div>
        </div>
    </form>
</div>
</main>

</body>
</html>