<!DOCTYPE html>
<html lang="en">

    <%- include('partials/head',{
        title : 'Tierras Magicas',
      }) %>
      
<body>

    <%- include('partials/header') %>

<main>
    <h1 class="title">Editar Personaje</h1>
    <div class="edit-view">
        <div class="card-body">
            <h1 class="title"><a href="/admin">Volver</a></h1>
            <div class="card d-flex justify-content-evenly">
          <h2><%= character.name %></h2>
          <% if (character.image.startsWith('http')) { %>
          <img class="img-edit" src="<%= character.image %>" alt="<%= character.name %>"/>
          <% } else { %>
          <img class="img-edit" src="/img/<%= character.image || 'tierras-magicas.jpg' %>" alt="<%= character.name %>"/>
          <% } %>
          <h6>Reino <%= character.realms ? character.realms.name : 'Desconocido' %></h6>
            <p>Puntos: <%= character.power %></p>
            <p>Elemento: <%= character.elements ? character.elements.name : 'Desconocido' %></p>
          <p class="card-text">Descripción: <%= character.description %></p>
        </div>
      </div>
   
      <form class="edit-form" action="/character/edit/<%= character.id %>?_method=PUT" method="POST" enctype="multipart/form-data">
       <div>
            <!-- nombre -->
            <div>
                <label for="name">Nombre:</label>
                <input class="nameCharacter" type="text" id="name" name="name" value="<%= character.name %>">
            </div>
            <!-- reino -->
            <div>
                <label for="realm">Reino:</label>
                <select aria-label="Default select example" name="realmId" id="realm">
                    <option disabled selected>Seleccionar...</option>
                    <% realms.forEach(({ name, id }) => { %>
                        <option value="<%= id %>" <%= character.realmId === id ? 'selected' : '' %>><%= name %></option>
                    <% }) %>
                </select>
            </div>
            <!-- poder -->
            <div>
                <label for="power">Poder:</label>
                <input type="text" id="power" name="power" value="<%= character.power %>">
            </div>
            <!-- elemento -->
             <div>
                <label for="element">Elemento:</label>
                <select aria-label="Default select example" name="elementId" id="element">
                    <option disabled selected>Seleccionar...</option>
                    <% elements.forEach(({ name, id }) => { %>
                        <option class="<%= elementClasses[name] %>" value="<%= id %>" <%= character.elementId === id ? 'selected' : '' %>><%= name %></option>
                    <% }) %>
                </select>
            </div>
            <!-- descripcion -->
             <div>
                <label for="description">Descripcion:</label>
                <br>
                <textarea maxlength="150" name="description" id="description" cols="60" rows="5"><%= character.description %></textarea>
            </div>
            <!-- imagen -->
            <div>
                <label for="formFile"></label>
                <input type="file" id="formFile" name="image">
            </div>
            <div>
                <% if (character.image.startsWith('http')) { %>
                    <img src="<%= character.image %>" alt="<%= character.name %>" style="max-width: 50px;">
                    <% } else { %>
                        <img src="/img/<%= character.image %>" alt="<%= character.name %>" style="max-width: 50px;">
                        <% } %>
                    </div>
                    <div>
                        <label for="image">URL de la imagen:</label>
                        <input type="text" id="image" name="image" value="<%= character.image %>">
                    </div>
                    <div>
                        <label for="defaultImage">Usar imagen por defecto:</label>
                        <input type="checkbox" id="defaultImage" name="defaultImage">
                    </div>
            <div>
                <button type="submit">Editar Personaje</button>
            </div>
        </div>
    </form>
</div>
</main>
</body>
</html>